/********************************************************************************************************
* Description: Style Sheet for Baney Cycles
* Author: Amanda Seiders-Baney
* Date Developed: February 6, 2021
* Date of Most Recent Edit: March 12, 2021
* Date Tested: March 12, 2021
* Tested on Chrome, Firefox, Edge, Android and iPhone
********************************************************************************************************/
.slicknav_menu {
    display: none;
}
/********************************************************************************************************
* Tablet/Desktop 
********************************************************************************************************/
@media screen and (max-width: 960px) {
    .slicknav_menu {
        display: none;
    }

    #nav_menu {
        display: block;
    }
}
/********************************************************************************************************
* Smartphones/Surface Pro
********************************************************************************************************/
@media screen and (max-width: 768px) {
    .slicknav_menu {
        display: none;
    }

    #nav_menu {
        display: block;
    }
}

/********************************************************************************************************
* 
********************************************************************************************************/
@media screen and (max-width: 667px)  {
    .slicknav_menu {
        display: block;
    }
    #nav_menu {
        display: none;
    }
}
/********************************************************************************************************
*Navigation Menu.
********************************************************************************************************/
#nav_menu ul {
    list-style-type:none
    padding: 1em 1em;
    text-align: left;
    border-top: .115em solid #885b95;
    border-bottom: .115em solid #885b95;
}
#nav_menu ul li {
    display: inline;
    padding: 1.5em 1.5em;
}
#nav_menu ul li a {
    color: #885b95;
    font-family: fantasy;
    font-size-adjust: auto;
}
#nav_menu ul li a.current {
    text-decoration: overline;
}
/********************************************************************************************************
* Set Page Margin.
********************************************************************************************************/
html {
    margin: 2.5%;
}
/********************************************************************************************************
*Body formatting including background image, and font.
********************************************************************************************************/
body {
    color: #955b85;
    width: 100%;
    font-size: 100%;
    font-family: sans-serif;
    background-image: url(https://amandaseidersbaney.github.io/ITEC336/graphics/light.jpg);
}
/********************************************************************************************************
*Header 1 Formatting.
********************************************************************************************************/
h1 {
    color: #955b85;
    font-size-adjust: auto;
    text-align: center; 
    padding: 1%;
    margin-left: 1%;
}
/********************************************************************************************************
* Header 2 Formatting
********************************************************************************************************/
h2 {
    padding: 1%;
     color: #955b85;
    font-size-adjust: auto;
    text-align: center;
}
/********************************************************************************************************
* Paragraph formatting.
********************************************************************************************************/
p {
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    font-size-adjust: auto;
}

/********************************************************************************************************
* Add padding to li and ul items.
********************************************************************************************************/
ul {
    padding-left: 10%;
    border-bottom: .115em solid #885b95;
    border-top: .115em solid #885b95;
    padding-right: 10%;
}
li {
    margin-left: 15%;
}
/********************************************************************************************************
* Position image.
********************************************************************************************************/
div.image {
    position: sticky;
    padding-left: 25px;
}
/********************************************************************************************************
*Add border to id "mib" (index page image)
********************************************************************************************************/
#mib {
    border: 1.05em solid #6698FF;
    border-radius: 1.05em;
    max-width: 50%;
    max-height: 50%;
    margin-left: 25%;
}
/********************************************************************************************************
*Formatting for id "Note" (Any notes in the webpage)
********************************************************************************************************/
#note {
    font-size-adjust: auto;
    justify-content: center;
}
/********************************************************************************************************
*Formatting for id "rib" (image border for rental page)
********************************************************************************************************/
#rib {
    border: 1.05em solid #955b85;
    border-radius: 1.05em;
    max-width: 50%;
    max-height: 50%;
    margin-left: 25%;
}
/********************************************************************************************************
* Style the header 
********************************************************************************************************/
header {
    padding: 30px;
    text-align: center;
    font-size-adjust: auto;
    color: #885b95;
}
/********************************************************************************************************
* Two column set up
********************************************************************************************************/
article {
    width:100%;
    column-count: 2;
   column-gap: 5%;
    padding: 2%;
}
main {
    float: left;
    font-size-adjust: auto;
    border-bottom: .115em solid #885b95;
    border-top: .115em solid #885b95;
    padding: 1%;
}
aside {
    float: right;
    font-size-adjust: auto;
    border-bottom: .115em solid #885b95;
    border-top: .115em solid #885b95;
    padding: 1%;
}
/********************************************************************************************************
* Style the footer 
********************************************************************************************************/
footer {
    background-color: aliceblue;
    padding: 1%;
    text-align: center;
    color: #885b95;
    font-size-adjust: auto;
}
/********************************************************************************************************
* Initial Hiding of the mobile menu.
********************************************************************************************************/
#mobile_menu {
    display: none;
}
/********************************************************************************************************
*Image rollover controls
********************************************************************************************************/
.container {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.container:hover .overlay {
  opacity: 1;
}
#ro{
    border: 1.05em solid #6698FF;
    border-radius: 1.05em;
    max-height: 100%;
    max-width: 100%;
    margin-left: 25%;
}
/********************************************************************************************************* AUDIO
********************************************************************************************************/
.audioplayer{
    position: center;
    max-height: 5%;
    max-width: 40%;
}
/********************************************************************************************************* VIDEO
********************************************************************************************************/
#videoplayer{
    max-width: 30%;
    max-height: 15%;
    margin-left: 32%;
    
}
