/*************************************************************************************************************
* Description: Style Sheet for Baney Cycles
* Author: Amanda Seiders-Baney
* Date Developed: February 6, 2021
* Date of Most Recent Edit: February 20, 2021
* Date Tested: February 20, 2021
* Tested on Chrome, Firefox, and Edge
**************************************************************************************************************
/
/*************************************************************************************************************
* Set Page Margin.
**************************************************************************************************************/
html {
    margin: 10px;
}

body {
    color: #955b68;
}

/************************************************************************************************************   
* Add padding to h1.   
*************************************************************************************************************/
h1 {
    padding: 10px;
}

/************************************************************************************************************
* Add padding to h2.
*************************************************************************************************************/
h2 {
    padding: 10px;
}

/*************************************************************************************************************
* Paragraph formatting.
**************************************************************************************************************/
p {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 20px;
}

/*************************************************************************************************************
*Body formatting including background image, and font.
**************************************************************************************************************/
body {
    width: 725px;
    font-size: 25px;
    font-family: sans-serif;
    background-image: url("https://amandaseidersbaney.github.io/ITEC336/graphics//light.jpg");
    background-size: auto;
    background-repeat: round;
}

/**************************************************************************************************************
* Add padding to li and ul items.
**************************************************************************************************************/
ul {
    padding-left: 10px;
    border-bottom: 2px solid #885b95;
    border-top: 2px solid #885b95;
}

li {
    padding-left: 10px;
}

/***************************************************************************************************************
* Position image.
****************************************************************************************************************/
div.image {
    position: sticky;
    padding-left: 25px;
}

/****************************************************************************************************************
*Add border to id "mib" (index page image)
****************************************************************************************************************/
#mib {
    border: 10px solid #6698FF;
    border-radius: 25px;
}

/*****************************************************************************************************************
*Format header 1.
******************************************************************************************************************/
h1 {
    color: #956b5b;
    margin-left: 10px;
    font-size: 35px;
    text-align: center;
}

/*****************************************************************************************************************
*Format header 2.
******************************************************************************************************************/
h2 {
    color: #955b68;
    font-size: 30px;
    text-align: center;
}

/******************************************************************************************************************
*Formatting for table
*******************************************************************************************************************/
table {
    width: 100%;
    padding-bottom: 10px;
}

/******************************************************************************************************************
*Formatting for id "Note" (Any notes in the webpage)
*******************************************************************************************************************/
#note {
    font: 10px;
    justify-content: center;
}

/******************************************************************************************************************
*Formatting for id "rent" (secondary table on rental page)
*******************************************************************************************************************/
#rent {
    width: 100%;
    border-top: 2px solid #885b95;
    padding-bottom: 10px;
}

/******************************************************************************************************************
*Formatting for id "rib" (image border for rental page)
*******************************************************************************************************************/
#rib {
    border: 10px solid #955b68;
    border-radius: 25px;
}

/*******************************************************************************************************************
* Style the header 
********************************************************************************************************************/
header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #885b95;
}

/*********************************************************************************************************************
* Style the list inside the menu 
**********************************************************************************************************************/
column1 ul {
    list-style-type: square;
    padding: 10;
}

column2 {
    float: right;
    padding: 20px;
    width: 90%;
}

column2 {
    float: right;
    padding: 20px;
    width: 90%;
    background-color: aliceblue;
}

/************************************************************************************************************************
* Clear floats after the columns 
*************************************************************************************************************************/
section1:right {
    content: "";
    display: table;
    clear: both;
}

/*************************************************************************************************************************
* Style the footer 
**************************************************************************************************************************/
footer {
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
    color: #885b95;
}

/*************************************************************************************************************************
* Two column set up
**************************************************************************************************************************/
article {
    column-count: 2;
    column-gap: 200px;
    border-bottom: 2px solid #885b95;
    border-top: 2px solid #885b95;
}

main {
    width: 400px;
}

aside {
    width: 100 px;
    align-content: right;
}

/**************************************************************************************************************************
*Navigation Menua.
***************************************************************************************************************************/
#nav_menu ul {
    list-style-type: none;
    padding: 5px 5px;
    text-align: center;
    border-top: 5px solid #885b95;
    border-bottom: 5px solid #885b95;
}

#nav_menu ul li {
    display: inline;
    padding: 2px 2px;
}

#nav_menu ul li a {
    color: #885b95;
    font-family: fantasy;
    font-size: 40px;
}

#nav_menu ul li a.current {
    text-decoration: overline;
}
